---
# Only the main Sass file needs front matter (the dashes are enough)
---

.container-fluid {
max-width: 1200px;
padding-top: 1rem;
padding-bottom: 1rem;
}

.text-align-center {
  text-align: center;
}

#header {

}

/*
* {
   outline: 1px solid red !important;
}
*/
