---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset 'utf-8';
@import 'custom'; // variables for bootstrap
@import 'bootstrap';

* {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
}

h1, .logo-font {
font-family: 'Exo', sans-serif !important;
font-weight: 600;
}

.background {
  background-image: url("/images/banner.jpg");
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;
}

.container-fluid {
  position: relative;
max-width: 1200px;
padding-top: 1rem;
padding-bottom: 1rem;
}

.text-align-center {
  text-align: center;
}

.cover-section {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  min-height: 100vh;
  padding-top: 60px;
  padding-bottom: 40px;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

/*
* {
   outline: 1px solid red !important;
}
*/
