---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset 'utf-8';
@import 'custom'; // variables for bootstrap
@import 'bootstrap';

* {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  font-size: 18px;
}

h1, .logo-font {
  font-family: 'Exo', sans-serif !important;
  font-weight: 600;
}

h2, h3, h4, h5, h6 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
}

.headline {
  font-size: 10rem;
}

.hide-list-style {
  list-style: none;
}

.background {
  background-image: url("/images/banner.jpg");
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;
}

.container-fluid {
  max-width: 1200px;
}

.fa {
  font-size: 2rem;
}

#hero ul {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#hero li {
  padding-left: 1rem;
  padding-right: 1rem;
}

#footer li {
  padding-left: 1rem;
  padding-right: 1rem;
}

.padding-top {
  padding-top: 2rem;
}

.text-align-center {
  text-align: center;
}

.cover-section {
  min-height: 100vh;
  padding-top: 30vh;
  padding-bottom: 40px;
  text-align: center;
}

/*
* {
   outline: 1px solid red !important;
}
*/
