<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Quicksand via Google Fonts API -->
  <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400" rel="stylesheet">

  <!-- Proxima Nova via Typekit -->
  <script src="https://use.typekit.net/vcr4muq.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link rel="stylesheet" href="css/main.css">
</head>
