<!-- Header -->
<header id="header"{% if page.layout == 'landing' %} class="alt"{% endif %}>
  <h1><a href="{{ site.baseurl }}/index.html">{{ site.title }}</a></h1>
      <ul class="nav nav pills justify-content-end">
            <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/docs/index.html">Wiki/Docs</a></li>
            <li class="nav-item"><a class="nav-link" href="#smart-contracts">Smart Contracts</a></li>
            <li class="nav-item"><a class="nav-link" href="http://dapp.giveth.io">Milestonetracker</a></li>
      </ul>
</header>
